.gradient {
    background-image: url("/img/gradient.jpg");
    background-repeat: repeat-x;
}
.felt {
    width: 300px;
    height: 300px;
    background-image: url("/img/felt.jpg");
    position: relative;
    margin: 0 auto;
}
.ten {
    position: absolute;
    top:140px;
    left: 110px;
    z-index: 5;
}
.jack {
    position: absolute;
    top:115px;
    left: 110px;
    z-index: 4;
}
.queen {
    position: absolute;
    top:90px;
    left: 110px;
    z-index: 3;
}
.king {
    position: absolute;
    top:65px;
    left: 110px;
    z-index: 2;
}
.back_card {
    position: absolute;
    top:40px;
    left: 110px;
    z-index: 1;
    width: 64px;
    height: 100px;
}